.container-fluid {
	margin-top: 110px;
	padding: 0 !important;
}

.carousel-item img {
	width: 100%;
	height: auto;
}

.carousel-content {
	background-color: transparent;
	color: black;
 	position: absolute;
 	top: 50%;
 	left: 10%;
 	transform: translateY(-50%);
 	z-index: 20;
}