@import "~bootstrap/scss/bootstrap";

nav {
	background-color: $white;
	height: 110px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
    display:none;
}