@import "~bootstrap/scss/bootstrap";
$grey: #999;
$grey-active: #3f3f3f;

nav {
	background-color: $white;
	height: 110px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
    display:none;
}

#navbarNavDropdown {
}

.navbar-nav {
	font-size: 12px;
	text-transform: uppercase;
}

.navbar-nav .active {
	color: $grey-active;
}

.nav-item {
	margin-left: 30px;
}

.scroll {
	position: fixed;
	border: 2px solid $grey;
	border-radius: 50%;
    bottom: 28px;
	right: 30px;
	color: #999;
	height: 40px;
	width: 40px;
	text-align: center;
}

.scroll:hover {
	background-color: $grey-active;
}