<header>
  <nav class="container navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.png" alt="">
        </a>
        
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkMe" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ME<span class="sr-only">(current)</span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMe">
                <a class="dropdown-item" href="#">HOME ONE</a>
                <a class="dropdown-item" href="#">HOME TWO</a>
                <a class="dropdown-item" href="#">HOME THREE</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkShop">
                <a class="dropdown-item" href="#">SHOP</a>
                <a class="dropdown-item" href="#">PRODUCT DETAILS</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PAGES</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPages">
                <a class="dropdown-item" href="#">CART</a>
                <a class="dropdown-item" href="#">CHECKOUT</a>
                <a class="dropdown-item" href="#">LOGIN</a>
                <a class="dropdown-item" href="#">REGISTER</a>
                <a class="dropdown-item" href="#">WISHLIST</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkBlog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BLOG</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkBlog">
                <a class="dropdown-item" href="#">BLOG</a>
                <a class="dropdown-item" href="#">BLOG DETAILS</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
          
          </ul>
        </div>
  </nav>
</header>