@import "~bootstrap/scss/bootstrap";
$grey-active: #3f3f3f;

nav {
	background-color: $white;
	height: 110px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
    display:none;
}

#navbarNavDropdown {
}

.navbar-nav {
	font-size: 12px;
	text-transform: uppercase;
}

.navbar-nav .active {
	color: $grey-active;
}

.nav-item {
	margin-left: 30px;
}