<header #top>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="Brand">
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&#9776;</span>
      </button>
          
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto order-lg-1">

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkHome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">home <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkHome">
              <a class="dropdown-item" href="#">home ONE</a>
              <a class="dropdown-item" href="#">home TWO</a>
              <a class="dropdown-item" href="#">home THREE</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">shop</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkShop">
              <a class="dropdown-item" href="#">shop</a>
              <a class="dropdown-item" href="#">PRODUCT details</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PAGES</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPages">
              <a class="dropdown-item" href="#">CART</a>
              <a class="dropdown-item" href="#">CHECKOUT</a>
              <a class="dropdown-item" href="#">LOGIN</a>
              <a class="dropdown-item" href="#">REGISTER</a>
              <a class="dropdown-item" href="#">WISHLIST</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLinkBlog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BLOG</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkBlog">
              <a class="dropdown-item" href="#">BLOG</a>
              <a class="dropdown-item" href="#">BLOG DETAILS</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>
<div class="scroll align-middle" (click)="scrollToElement(top)">
  <span>
    <fa-icon [icon]="faChevron" size="lg"></fa-icon>
  </span>
</div>