<section class="product-section pt-120 pb-120">
	<div class="container">
		<div class="row">
			
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-50">
				<div class="product-item">
					<div class="product-img">
						<a href="">
							<img class="image" src="https://via.placeholder.com/343x390" alt="">
						</a>
					</div>
					<div class="product-info">
						<h5 class="title">
							LE PARC MINOTTI CHAIR
						</h5>
						<div class="price-ratting">
							<span class="price">€169.00</span>
							<span class="ratting float-right">
								&#9733;
								&#9733;
								&#9733;
								&#9733;
								&#9733;
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-50">
				<div class="product-item">
					<div class="product-img">
						<a href="">
							<img class="image" src="https://via.placeholder.com/343x390" alt="">
						</a>
					</div>
					<div class="product-info">
						<h5 class="title">
							LE PARC MINOTTI CHAIR
						</h5>
						<div class="price-ratting">
							<span class="price">€169.00</span>
							<span class="ratting float-right">
								&#9733;
								&#9733;
								&#9733;
								&#9733;
								&#9733;
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-50">
				<div class="product-item">
					<div class="product-img">
						<a href="">
							<img class="image" src="https://via.placeholder.com/343x390" alt="">
						</a>
					</div>
					<div class="product-info">
						<h5 class="title">
							LE PARC MINOTTI CHAIR
						</h5>
						<div class="price-ratting">
							<span class="price">€169.00</span>
							<span class="ratting float-right">
								&#9733;
								&#9733;
								&#9733;
								&#9733;
								&#9733;
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-50">
				<div class="product-item">
					<div class="product-img">
						<a href="">
							<img class="image" src="https://via.placeholder.com/343x390" alt="">
						</a>
					</div>
					<div class="product-info">
						<h5 class="title">
							LE PARC MINOTTI CHAIR
						</h5>
						<div class="price-ratting">
							<span class="price">€169.00</span>
							<span class="ratting float-right">
								&#9733;
								&#9733;
								&#9733;
								&#9733;
								&#9733;
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="row">
			<div class="mx-auto col-xs-12 mt-30">
				<button type="button" class="btn btn-secondary">Load More</button>
			</div>
		</div>

	</div>

</section>