<div class="container">
	<nav class="navbar navbar-expand-lg">
		<ul class="navbar-nav">
	    	<li class="nav-item active">
	    		<a class="nav-link" href="#">ALL</a>
	    	</li>
	    	<li class="nav-item">
	        	<a class="nav-link" href="#">CHAIR</a>
	    	</li>
	    	<li class="nav-item">
	        	<a class="nav-link" href="#">TABLE</a>
	    	</li>
	    	<li class="nav-item">
	        	<a class="nav-link" href="#">HOME DECOR</a>
	    	</li>
	    	<li class="nav-item">
	        	<a class="nav-link" href="#">LIGHTING</a>
	    	</li>
	    </ul>	
		<ul class="navbar-nav ml-auto">
		    <li class="nav-item">
		        <a class="nav-link" href="#">FILTER</a>
		    </li>
		</ul>
	</nav>
	<div class="product-filter">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
		            <h5>Sort by</h5>
		            <ul class="sort-by">
		                <li><a href="#">Default</a></li>
		                <li><a href="#">Popularity</a></li>
		                <li><a href="#">Average rating</a></li>
		                <li><a href="#">Newness</a></li>
		                <li><a href="#">Price: Low to High</a></li>
		                <li><a href="#">Price: High to Low</a></li>
		            </ul>
		        </div>
		    	<div class="col-md-3 col-sm-6 col-xs-12 mb-30">
		            <h5>color filters</h5>
		            <ul class="color-filter">
		                <li><a href="#"><i style="background-color: #000000;"></i>Black</a></li>
		                <li><a href="#"><i style="background-color: #663300;"></i>Brown</a></li>
		                <li><a href="#"><i style="background-color: #FF6801;"></i>Orange</a></li>
		                <li><a href="#"><i style="background-color: #ff0000;"></i>red</a></li>
		                <li><a href="#"><i style="background-color: #FFEE00;"></i>Yellow</a></li>
		            </ul>
		        </div>
		        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
		            <h5>product tags</h5>
		            <div class="product-tags">
		                <a href="#">New</a>,
		                <a href="#">brand</a>,
		                <a href="#">black</a>,
		                <a href="#">white</a>,
		                <a href="#">chire</a>,
		                <a href="#">table</a>,
		                <a href="#">Lorem</a>,
		                <a href="#">ipsum</a>,
		                <a href="#">dolor</a>,
		                <a href="#">sit</a>,
		                <a href="#">amet</a>
		            </div>
		        </div>
		        <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
		            <h5>Filter by price</h5>
		            <div id="price-range"></div>
		            <div class="price-values">
		                <span>Price:</span>
		                <input type="text" class="price-amount">
		            </div>
		        </div>
		    </div>
        </div>
	</div>
</div>