.product-filter {
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    padding: 45px 45px 15px;
    width: 100%;
    display: block;
}