<div class="product-filter pt-120">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<ul class="list-inline">
			    	<li class="list-inline-item active">
			    		<a class="" href="#">ALL</a>
			    	</li>
			    	<li class="list-inline-item">
			        	<a class="" href="#">CHAIR</a>
			    	</li>
			    	<li class="list-inline-item">
			        	<a class="" href="#">TABLE</a>
			    	</li>
			    	<li class="list-inline-item">
			        	<a class="" href="#">HOME DECOR</a>
			    	</li>
			    	<li class="list-inline-item">
			        	<a class="" href="#">LIGHTING</a>
			    	</li>
			    </ul>
			</div>
			<div class="col-xs-4 ml-auto">	
				<ul class="list-inline">
				    <li class="list-inline-item">
				        <a class=""
				        	href="#"
							data-toggle="collapse"
							data-target="#filters"
							aria-controls="filters"
							aria-expanded="false"
							aria-label="Toggle navigation">FILTER</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row collapse" id="filters">
			<div class="col-md-6 col-sm-12 mb-30">
				<h5 class="filter-list">Sort by</h5>
		            <ul class="list-unstyled">
		                <li><a href="#">Default</a></li>
		                <li><a href="#">Popularity</a></li>
		                <li><a href="#">Average rating</a></li>
		                <li><a href="#">Newness</a></li>
		                <li><a href="#">Price: Low to High</a></li>
		                <li><a href="#">Price: High to Low</a></li>
		            </ul>
			</div>
			<div class="col-md-6 col-sm-12 mb-30">
				<h5 class="filter-list">color filters</h5>
		            <ul class="list-unstyled">
		                <li><a href="#"><span class=" color" style="color:#000000;">&#9679;</span>Black</a></li>
		                <li><a href="#"><span class=" color" style="color:#663300;">&#9679;</span>Brown</a></li>
		                <li><a href="#"><span class=" color" style="color:#FF6801;">&#9679;</span>Orange</a></li>
		                <li><a href="#"><span class=" color" style="color:#ff0000;">&#9679;</span>Red</a></li>
		                <li><a href="#"><span class=" color" style="color:#FFEE00;">&#9679;</span>Yellow</a></li>
		            </ul>
			</div>
			<div class="col-md-6 col-sm-12 mb-30">
				<h5 class="filter-list">product tags</h5>
		            <div class="product-tags">
		                <a href="#">New</a>,
		                <a href="#">brand</a>,
		                <a href="#">black</a>,
		                <a href="#">white</a>,
		                <a href="#">chire</a>,
		                <a href="#">table</a>,
		                <a href="#">Lorem</a>,
		                <a href="#">ipsum</a>,
		                <a href="#">dolor</a>,
		                <a href="#">sit</a>,
		                <a href="#">amet</a>
		            </div>
			</div>
			<div class="col-md-6 col-sm-12 mb-30">
				<h5 class="filter-list">Filter by price</h5>
		            <div id="price-range"></div>
		            <div class="price-values">
		                <span>Price:</span>
		                <input type="range" class="">
		            </div>
			</div>
		</div>
	</div>
</div>