<footer>
	<section class="footer-top-section pt-100 pb-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 mb-40">
					<h5 class="title">ABOUT THE STORE</h5>
					<p class="text">There are many variations of passages of Lor available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-40">
					<h5 class="title">CUSTOMER SERVICE</h5>
					<ul class="list-unstyled">
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">CONTACT US</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">RETURNS & REFUNDS</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">TERMS & CONDITIONS</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">ONLINE STORE</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-12 mb-40">
					<h5 class="title">PROFILE</h5>
					<ul class="list-unstyled">
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">MY ACCOUNT</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">CHECKOUT</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">HELP</a>
						</li>
						<li class="list-unstyled-item">
							<a class="list-unstyled-link">SUPPORT</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-40">
					<h5 class="title">SIGN UP FOR OUR AWESOME NEWS</h5>
					<form>
						<input type="email" placeholder="Email Address" required="">
						<button type="submit">SUBSCRIBE</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 text-left text-sm-center copyright">
					Developed by
					<a class="link" href="https://suga0828.github.io">suga0828</a>
				</div>
				<div class="col-md-6 col-sm-12 text-right text-sm-center footer-menu">
					<a href="#">Help & Support</a>
				</div>
			</div>
		</div>
	</section>
</footer>