$grey: #505050;
$grey-2: #a3a3a3;

// Éstas clases tampoco funcionan
.pt-100 {
	padding-top: 100px;
}

.pb-60 {
	padding-bottom: 60px;
}

.mb-40 {
	margin-bottom: 40px;
}

.title {
	color: $grey !important;
    font-size: 14px;
	font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.text {
	color: $grey-2;
    font-size: 14px;
    line-height: 23px;
}

.list-unstyled-link {
	color: $grey-2;
    display: block;
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
    

.link {
	color: red;
}